@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-primary: #0B3D69;
  --color-brand-accent: #FF8D70;
  --color-brand-base: #73A2AC;
  --color-brand-bg-soft: #f0f4f8;
}

@layer base {
  body {
    @apply font-sans text-brand-primary bg-white;
  }
  
  h1, h2, h3, h4 {
    @apply font-display tracking-tight text-brand-primary;
  }
}
